<div class="card box-shadow hoverable">
    {% if post.img %}
        <div class="card-image">
            {{ post.img }}
        </div>
    {% endif %}
    <div class="card-block">
        <a href="{{ post.link }}">
            <h2>{{ post.title }}</h2>
        </a>
        {{ post.get_preview(40) }}
    </div>
</div>