<div class="card box-shadow hoverable">
    {% if post.img %}
        <div class="card-image">
            {{ post.img }}
        </div>
    {% endif %}
    <div class="card-block">
        <a href="{{ post.link }}">
            <h4><strong>{{ post.title }}</strong></h4>
        </a>
        <hr />
        {{ post.get_preview(40, null, '<p>Read More</p>') }}
    </div>
</div>