<div class="card box-shadow hoverable">
    {% if post.thumbnail %}
        <div class="card-image" style="background: url({{ post.thumbnail('large') }});
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat"></div>
    {% endif %}
    <div class="card-block">
        <a href="{{ post.link }}">
            <h4>{{ post.title }}</h4>
        </a>
        <hr />
        {{ post.get_preview(40, null, '<p>Read More</p>') }}
    </div>
</div>