<div class="card box-shadow hoverable">
    {% if post.img %}
        <div class="card-image">
            {{ post.img }}
        </div>
    {% endif %}
    <div class="card-block">
        {{ post.title }}
        {{ post.content }}
    </div>
</div>