<div class="feature-header">
    <div class="feature-header-titles">
        {% if fields.feature_header_title %}
            <h1>
                {{ fields.feature_header_title }}
            </h1>
        {% else %}
            <h1>
                {{ wp_title }}
            </h1>
        {% endif %}
        {% if fields.feature_header_subtitle %}
            <h2>
                {{ fields.feature_header_subtitle }}
            </h2>
        {% endif %}
    </div>
    <div class="feature-header-chevron-down">
        <a href="#content" class="chevron-down box-shadow hoverable"><i class="fa fa-chevron-down"></i></a>
    </div>
</div>


