<div class="skill">
    <div class="image-container">
        <img src="http://lorempixel.com/300/300" alt="placeholder">
    </div>
    <div class="title-container">
        {{ post.title }}
    </div>
</div>