<div class="card card-row box-shadow hoverable">
    {% if post.thumbnail %}
        <div class="card-image" style="background: url({{ post.thumbnail }}); background-size: auto 100%; background-position: center center"></div>
    {% endif %}
    <div class="card-block">
        <a href="{{ post.link }}">
            <h4><strong>{{ post.title }}</strong></h4>
        </a>
        <hr />
        {{ post.get_preview(40, null, '<p>Read More</p>') }}
    </div>
</div>
