header {
  position: fixed;
  z-index: 100;
  background: $black;
  width: 100%;
  font-family: $headings-font-family;
  .container {
    display: flex;
    .nav-primary {
      width: 100%;
      .nav {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        li {
          padding: 1em;
          a {
            display: block;
            font-weight: bold;
          }
        }
        .brand {
          padding: 1em;
        }
      }
    }
  }
}