html, body {
  min-height: 100%;
  background-attachment: fixed;
}

body {
  background: radial-gradient(top left, $gray-lighter, $gray-lightest);
  .main {
    padding: 0;
  }
}

.section-header {
  padding: 0.5em 0;
}

p {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
}

section {
  padding: 1em 0;
}