// Grid settings
$enable-flex: true;
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$brand-primary: #3498db;
$black: #333;
$white: #efefef;

// Text
$font-family-headings: 'Raleway', sans-serif;
$font-family-base: 'Comfortaa', cursive;

// Shadows
$box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-hoverable: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);