.chevron-down {
  $length: 50px;
  height: $length;
  width: $length;
  padding: 0;
  line-height: $length;
  position: absolute;
  top: auto;
  bottom: $length;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 2em;
  background-color: $black;
  border-radius: 100%;
  color: $brand-primary;
}

.btn {
  box-shadow: $box-shadow;
  transition: box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  &:hover {
    box-shadow: $box-shadow-hoverable;
  }
}