.card {
  border: 0;
  .card-image {
    height: 250px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .card-block {
    a {
      text-decoration: none;
      @include transition(color);
      &:hover {
        text-decoration: none;
      }
    }
  }
}