.feature-header {
  height: 100vh;
  .feature-header-row {
    height: 100%;
    text-align: center;
    position: relative;
    .feature-header-headings {
      h1 {
        color: transparent;
        font-size: calc(#{$font-size-h1 * 3});
        font-weight: bold;
        span {
          background: url("https://45.media.tumblr.com/d6946dbae92220c65838e861a365affb/tumblr_mzs9uzNKDZ1qddrn0o1_500.gif");
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
        }
      }
    }
    a {
      $length: 50px;
      height: $length;
      width: $length;
      padding: 0;
      line-height: $length;
      position: absolute;
      top: auto;
      bottom: $length;
      left: 0;
      right: 0;
      margin: auto;
      background-color: $black;
      border-radius: 100%;
      color: $brand-primary;
    }
  }
}