.my-skills {
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-around;
  .skill {
    width: 20%;
    padding: 1em;
    @include media-breakpoint-down(xs) {
      width: 50%;
    }
    .image-container {
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .title-container {
      padding: 0.5em;
      text-align: center;
    }
  }
}