// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #f1c40f;

// Text
$font-family-headings: 'Comfortaa', cursive;
$font-family-base: 'Raleway', sans-serif;