<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% for post in posts %}
                {% include 'row-card.partial.twig' %}
            {% endfor %}
        </div>
    </div>
</div>