.card-row {
  display: flex;
  .card-image {
    width: 33.33%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-block {
    width: auto;
    .see-more {
      padding: 0.5em 1em;
    }
  }
}